* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container, .hero-container {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 30px;
}

.menu a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero-container {
    padding: 100px 0;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-img img { width: 100%; }

.hero-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 15px;
}

.hero-info h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-info p {
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
}

.hero-info button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0;
    padding: 8px 15px;
    border-radius: 5px;
}

.info-container { padding: 50px 0; }

.info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.info-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.pet-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pet-card {
    width: 265px;
}

.pet-card img {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 10px 10px 10px 10px;
}

.pet-card p {
    text-align: justify;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 600px;
}

.testimonial-section {
    padding: 0 10px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    text-align: justify;
}

.quote span {
    font-weight: 900;
}

.author {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
}

.action-container {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.action-box {
    background-color: #3882f6;
    border-radius: 5px;
    height: 250px;
    width: 95%;
    max-width: 1024px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-info-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    color: #f9faf8;
    max-width: 800px;
    justify-content: space-between;
}

.action-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 0 1 520px;
}

.action-info p {
    text-align: justify;
}

.action-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid #f9faf8;
    border-radius: 5px;
    padding: 8px 35px;
    align-self: center;
}

.footer {
    height: 80px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    display: inline-block;
    color: #e5e7eb;
    font-size: 18px;
}


@media (min-width: 480px) {
    .header-container {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .header {
        width: 100%;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }

    .hero-container {
        display: flex;
        justify-content: center;
    }

    .hero { width: 465px; }

    .hero-img img { 
        width: 465px;
        height: 280px;
    }
}

@media (min-width: 765px) {
    .hero {
        flex-direction: row;
        width: 100%;
        padding: 0 10px;
        align-items: flex-start;
    }

    .hero-info { padding: 0; }

    .hero-img { order: 1; }
}
@media (min-width: 1024px) {
    .header-container { justify-content: center; }

    .header { width: 1024px; }

    .hero {
        width: 1024px;
        padding: 0;
    }

    .testimonial-section { width: 1024px; }
}